<label for="name">
	Your name?<br />
	<span class="hint">So your friends know who invited them</span>
</label>
<%= text_field 'event_meta', 'author_name', :class => 'text full', :maxlength => 255, :tabindex => 6 %>

