<label for="startTime">
	What time?<br />
	<span class="hint">10:57 am? 6:00 pm?</span>
</label>
<%= text_field 'event_meta', 'start_time', :class => 'text full timeautocomplete', :tabindex => 5, :id => 'startTime' %>