<label for="what">What's the occasion?<br />
<span class="hint">Lunch? Happy Hour? Party?</span></label>
<%= text_field 'event_meta', 'what', :class => 'text full whatautocomplete', :tabindex => 1, :id => 'what' %>